.Container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    gap: 32px;
}

form {
    width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}

.InputWrapper,
.InputWrapper > label {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

input, textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 44px;
    
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0 16px;

    outline: transparent;
}

input {
    height: 44px;
}

textarea {
    height: 256px;
    padding: 16px;
}

input:hover, input:focus , textarea:hover, textarea:focus {
    border: 1px solid #999;
}

.Error {
    color: red;
    font-size: 12px;
}

.ButtonSubmit {
    height: 44px;
    padding: 0 32px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: bold;

    transition: 0.2 filter ease-in-out ;
}


.ButtonSubmit:hover {
    filter: brightness(0.85) 
}

.DataContainer {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    width: 600px;
}